.header {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px 5px;
  border-bottom: none;
  display: flex;
  justify-content: baseline;
  align-items: center;
  box-sizing: border-box;
}

.header > * {
  margin-right: 2em;
  font-size: 1em;
}