.tr {
  border-bottom: 1px solid #cccccc;
}

.tr:first-child {
  border-top: 1px solid #cccccc;
}

.tr_selected {
  background-color:  rgb(217, 217, 217);
}

.tr:hover {
  background-color: #e6e6e6;
}